.go-top-btn {
    bottom: 20px;
    right: 30px;
    position: fixed;
    outline: none;
    border: none;
    color: #fff;
    font-size: 12px;
}
.go-top-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
    transition: all .2s ease-in-out 0s;
    -webkit-transform: all .2s ease-in-out 0s;
    
}

.top-icon {
    margin-left: 2px;
    margin-top: 2px;
}

.top-icon:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out 0s;
    -webkit-transform: all .2s ease-in-out 0s;
    
}